node_modules/
dist/
*.log
.env
.env.local
.env.production
logs/
.vscode/
.git/
*.tsbuildinfo

# Base SQLite locale + fichiers temporaires Prisma
backend/prisma/*.db-journal
backend/prisma/*.db-wal
backend/prisma/*.db-shm